body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#task-input {
    width: 50%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
}

#add-task-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#task-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#task-list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

#task-list li:last-child {
  border-bottom: none;
} 

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f0f0f0;
  }
#done-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 8px;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#done-text {
  display: none;
  color: #4CAF50;
  font-size: 8px;
  font-weight: bold;
}